<div>
  <div ng-if="app.isCurrentContext(pathMap._home._formatedHash)">
    <section class="promo-full">
      <div class="col-xs-12">
        <banner-item  url="get_banner_home" index="0" class="promo01" options="bg_image,url,title,description,link_text"></banner-item>
      </div>
    </section>
    <phone-genie></phone-genie>
		<section class="promo-half" style="float:right">
			<div class="col-xs-6">
        <banner-item url="get_banner_home" index="1" class="promo02" options="url,image,title,description,link_text"></banner-item>
			</div>
			<div class="col-xs-6">
        <banner-item url="get_banner_home" index="2" class="promo03" options="url,image,title,description,link_text"></banner-item>
			</div>
		</section>
  </div>
</div>
