<div>
 <style>
      @media (max-width:480px) {
      
      .main.container section .col-xs-7{
    	border-right: none;
		}
		
		.main.container section .col-xs-8{
    	border-right: none;
		}
		
		}
		
      </style> 
      
   <div class='col-xs-8' style='margin-top:15px;padding-left: 20px;'>
      <span style='text-align:left;padding-left:2px;font-size:31px;'>Just $3</span><small style='position:relative;top:-12px;'>/month</small><a><img src='spp/img/free_bug.png' data-src='spp/img/free_bug.png' data-retina='spp/img/free_bug'/></a>
      <p>Download CallWatch and get alerts in real-time of all suspicious and unwanted incoming calls and text messages. That way, you can ignore the call or block the number for good. Just $3/month.</p>
      CallWatch benefits include:
      <ul style='list-style-type:disc;text-align:left;padding-left:15px;margin-top: 0px;'>
         <li>ScamBlock: Automatic detection and blocking of scam calls</li>
         <li>Unlimited call blocking</li>
         <li>Unlimited real-time caller ID</li>
         <li>Unlimited reporting of abusive numbers</li>
         <li>Unlimited reverse number lookup</li>
         <li>Ability to block all known numbers used by same company</li>
      </ul>
      <p class='disclaimer'>To start  your 7-day FREE trial, download the <a href='https://play.google.com/store/apps/details?id=com.privacystar.android.spg'  target='_blank'>CallWatch app</a> from Google Play. For more information about CallWatch, <a href='https://prepaid.sprint.com/#!/plans/faq15/'  target='_blank'>click here</a>.</p>
   </div>
   <div class='col-xs-4' id='callwatch_bg'>
      <div class='row'>
         <div class='col-xs-7' style='padding-left:20px'>
            <h5><strong>CallWatch App</strong></h5>
            <a><img class='as-background' src='spp/img/callwatch_app_icon.png' data-src='spp/img/callwatch_app_icon.png' data-retina='spp/img/callwatch_app_icon.png'/></a>
         </div>
         <div class='col-xs-5'>
            <br/>
            <p style="margin-top:120px;margin-left:-60px">Download the <a href='https://play.google.com/store/apps/details?id=com.privacystar.android.spg'  target='_blank'>CallWatch app</a> from Google Play. (Not available for iOS)</p>
         </div>
      </div>
   </div>
</div>