<div class='col-xs-12'>
   <p>Need more high-speed data? Add a Data Pack to your monthly plan to keep streaming, socializing and surfing at high speed. Data Packs expire 30 days from purchase date or when data is depleted, whichever occurs first.</p>


   <p><strong>$5</strong>/month for <strong>500MB</strong> high-speed data <br/><strong>$10</strong>/month for <strong>1GB</strong> high-speed Data</p>
   <p>To add a Data Pack now, log in to <a href='https://myaccount.prepaid.sprint.com/myaccount/home.do?INTNAV=Nav:MyAcct'  target='_blank'>My Account</a>.</p>
   <small>Data pack add-on provides additional high-speed data for device and/or hotspot (select devices only)usage.  Data pack access expires 30 days from purchase date or when data is depleted, whichever occurs first.  Actual speeds may vary.</small>
</div>