<div>
   <div class='col-xs-12 col-sm-8' style='margin-right:-1px;'>
      <p>Connect to friends and family around the world with our low per-minute international rates. Sprint Prepaid lets you say goodbye to those confusing calling cards and talk on your terms.</p>
      <ul style='list-style-type:disc;text-align:left;padding-left:15px;'>
         <strong>How it works:</strong>
         <li>International calls are charged at the international per-minute rate for the country you’re calling when you’re using your monthly plan talk minutes. Standard airtime minute rates may apply for minutes over any monthly talk minute allotment.</li>
         <li>Calls to Puerto Rico, Guam, Northern Mariana Islands and the U.S. Virgin Islands are included in Sprint Prepaid’s domestic  monthly talk plans. There is no international charge for these locations.</li>
         <li>International text messages cost $0.15 each to send and receive.</li>
      </ul>
      <p class='disclaimer'>Available countries and/or calling rates are subject to change without notice.</p>
   </div>
   <div class='col-xs-12 col-sm-4' id='international_bg'>
      <div class='row'>
         <div class='col-xs-12 col-sm-5' style='padding-left:20px;'>   
            <p>
               <a><img class='as-background img-responsive' src='spp/img/addserv01.png' data-src='spp/img/addserv01.png' data-retina='spp/img/addserv01.png'/></a>
            </p> 
         </div>
         <div class='col-xs-12 col-sm-7'>            
            <p>To view Sprint Prepaid International Calling,<br /><a href='#!/support/faqs/internationalrates'>click here</a>.</p>
         </div>
      </div>
   </div>
</div>