<div style='float:right;'>
   <div class='col-xs-8'>
      <p>Turn your phone into a mobile Wi-Fi® hotspot and share your phone’s data connection with up to 5 wireless devices. Laptops, tablets, gaming consoles, and more. It’s Wi-Fi on the go.</p>
      <p>Mobile Hotspot is already preloaded on most Sprint Prepaid phones and there is no extra charge. So you can start sharing right away.</p>
      <p>Sharing your Mobile Hotspot is really simple. Just open 'Settings' on your phone and follow the directions. Easy.</p>
      <small>Mobile Hotspot available only with select devices/plans. Connectivity dependent upon compatibility and speeds vary. When hotspot ‘on’, all data usage (phone and hotspot) counts against data allowance; turn off hotspot when not connected to other devices.</small>
   </div>
   <div class='col-xs-4'>
      <ul class='compatiblephones' style=''>
         <strong>Compatible Phones: </strong>
         <li>Samsung Galaxy Core Prime</li>
         <li>Samsung Galaxy S3</li>
         <li>LG Volt</li>
         <li>HTC Desire 510</li>
         <li>Motorola Moto E</li>
         <li>LG Tribute</li>
         <li>Sharp AQUOS Crystal</li>
      </ul>
   </div>
</div>