<section class="checkout" id="checkout_step_2">
  <h3 ng-if="appName=='bst'" class="mainColor">You're almost done!</h3>
  <p ng-if="appName=='bst'">Please confirm that the info below is accurate then click complete purchase.</p>
  <div class="col-xs-12 col-md-8">
    <checkout-item-list></checkout-item-list>
    <checkout-summary-info></checkout-summary-info>
    <checkout-billing-info></checkout-billing-info>
    <checkout-shipping-info></checkout-shipping-info>
  </div>
  <div class="hidden-xs hidden-sm col-md-4">
    <section class="entrust">
      <h3>Secure Credit Card Payment</h3>
      <div>
        <img ng-src="{{appName}}/img/entrust.png"></img>
      </div>
    </section>
    <section>
      <div class="orderbyphone">
        <h3>Order by Phone</h3>
        <p>Need help choosing a phone or a plan? Just give us a call.</p>
        <h3 class="phonenumber">1-866-866-7509</h3>
      </div>
    </section>
    <section>
      <h3>How it Works</h3>
      <ul class="features howitworks">
        <li>
          <img ng-src="{{appName}}/img/icons/smartphone.png"/>
          <div>
            <p>Order by phone, online, or in a store.</p>
          </div>
        </li>
        <li>
          <img ng-src="{{appName}}/img/icons/activate.png"/>
          <div>
            <p>When you get your phone, activate a no-contract plan online.</p>
          </div>
        </li>
        <li>
          <img ng-src="{{appName}}/img/icons/keepyournumber.png"/>
          <div>
            <p>Keep your number or choose a new one. Enjoy!</p>
          </div>
        </li>
      </ul>
    </section>
    <section>
      <h3>Phone Insurance</h3>
      <p>Can't live without your Sprint Mobile phone? Get phone insurance and you'll never have to.</p>
      <div ng-if="appName=='spp'"class="col-xs-12">
        <a class="btn btn-default btn-block" target="_blank" href="http://www.sprint.com/legal/privacy.html?INTNAV=ATG:FT:Privacy">Privacy Policy</a>
        <a class="btn btn-default btn-block" target="_blank" href="http://www.sprint.com/landings/returns/?question_box=return%20policy&id16=return%20policy">Return Policy</a>
      </div>
      <div ng-if="appName=='bst'"class="col-xs-12">
        <a class="btn btn-default btn-block" target="_blank" href="#!/framework_privacy_policy/">Privacy Policy</a>
        <a class="btn btn-default btn-block" target="_blank" href="#!/framework_return_policy">Return Policy</a>
      </div>
    </section>
  </div>
</section>


