<span>
    <select class="btn btn-default btn-block sortby" ng-model="phoneController.list.sort">
        <option value="featured"  selected>Featured</option>
        <option value="timeZA">Newest to Oldest</option>
        <option value="priceAZ">Price: Low to High</option>
        <option value="priceZA">Price: High to Low</option>
        <option value="rateZA" ng-if="appName == 'bst'">Rating: Highest to Lowest</option>
        <option value="nameAZ">Alphabetically A to Z</option>
    </select>

</span>