<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="HandheldFriendly" content="True"/>
		<meta name="format-detection" content="telephone=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<!--meta name="page-title" content="Frequently Asked Questions"-->
		<meta name="hide-breadcrumb"/>
		<title>Build Your Own Phone Plan With Virgin Mobile Custom | Virgin Mobile USA</title>
		<link rel="shortcut icon" href="vmu/img/favicon.ico"/>
		<!--link href="../css/app-framework.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" /-->
		
		<link href="vmu/css/custom.css" rel="stylesheet" />
		<script src="vmu/js/lib/jquery.min.js"></script>
		<script src="../../js/lib/bootstrap.min.js"></script>
		<script src="vmu/js/lib/plans-data.js"></script>
	</head>
    
	<!--ol id="page-path" class='breadcrumb hidden-xs'>
		<li class='ng-scope'>
			<a class='ng-binding' href='#!/'>Home</a>
		</li>
		<li class='active ng-binding'>Extras</li>
	</ol--> 
    
	<body>
		<div style="position: relative; margin:0 auto;" id="topsplash">
			
			<div class="top-container" style="height:435px;width:100%;background-color:#000;">
				<div class="mobile-banner" style="position:absolute;right:0px;"><img class="background-png" src="vmu/img/custom/background.png" alt="bolt background"></div>
			
				<div id="topcontentcontainer">
					<div id="topcontent">
						<h2>Custom Make It Yours</h2>
						<p>We've added a new program at Walmart - Virgin Mobile DATA DONE RIGHT, and we want to make sure you feel the excitement! This program is replacing Virgin Mobile Custom at Walmart.</p>
						<p>Are you a current Custom customer? If so, please note that your plan will not change and you can still log into your My Account. See notes below on new Top-Up cards and adding new devices to your Custom account.</p>
						<p>If you'd like to purchase a Data Done Right device and one of the new Single Line or Multi-line data sharing plans, click on the link on the right to find a Walmart store near you!</p>
					</div>
					<div id="topimage"><img src="vmu/img/custom/custom_data_done_right.png"></div>
					<!--div style="font: 13px 'ProximaNova-Regular';color:#fff;text-align:left;padding-top:15px;position: absolute; left: 535px; top: 205px;"-->
					<div class="current-available">
						Currently available at select walmart stores.
						<div id="walmart" style="margin-top:5px;">
							<a href="http://walmart.com/virginmobilecustom" target="_blank"><img src="vmu/img/custom/only-at-walmart-button.png" border="0"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="custom_navigation" class="navbar navbar-default navbar-static-top hidden-xs">
			<div class="container" id="navpattern">
				<div class="navbar">
					<div class="page-menu" style="float:right">
						<ul class="nav navbar-right">
							<li><a href="#!/custom" onclick="try{_$vmstnavtl('VM Custom Home');} catch(err){;}">Custom Home</a></li>
							<li><a href="//custom.virginmobileusa.com" onclick="try{_$vmstnavtl('VM Custom Log In');} catch(err){;}">Login</a></li>
							<li><a ui-sref="custom-coverage-map" onclick="try{_$vmstnavtl('VM Custom Coverage');} catch(err){;}" href="#!/custom-coverage-map">Coverage</a></li>
							<li><a href="http://virginmobileusa.custhelp.com/app/answers/list/kw/VMcustom" onclick="try{_$vmstnavtl('VM Custom FAQs');} catch(err){;}">FAQs</a></li>
							<li><a href="http://devicehelp.virginmobileusa.com/custom" onclick="try{_$vmstnavtl('VM Custom Device Help');} catch(err){;}">Device Help</a></li>
						</ul> 
					</div>
				</div>
			</div>
		</div>
		

		
		<!-- MENU FOR MOBILE DEVICES BEGINS -->
		<div class="mobile-about-menu visible-xs">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a style="color: #e1172f" class="navbar-brand" href="javascript:void();">Menu</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#!/custom" onclick="try{_$vmstnavtl('VM Custom Home');} catch(err){;}">Custom Home</a></li>
						<li><a href="//custom.virginmobileusa.com" onclick="try{_$vmstnavtl('VM Custom Log In');} catch(err){;}">Login</a></li>
						<li><a ui-sref="custom-coverage-map" onclick="try{_$vmstnavtl('VM Custom Coverage');} catch(err){;}" href="#!/custom-coverage-map">Coverage</a></li>
						<li><a href="http://virginmobileusa.custhelp.com/app/answers/list/kw/VMcustom" onclick="try{_$vmstnavtl('VM Custom FAQs');} catch(err){;}">FAQs</a></li>
						<li><a href="http://devicehelp.virginmobileusa.com/custom" onclick="try{_$vmstnavtl('VM Custom Device Help');} catch(err){;}">Device Help</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
		<!-- MENU FOR MOBILE DEVICES ENDS -->
		
		

		<!-- uiView:  -->
		<div id="custom" ui-view="" class="ng-scope">
	
			<div id="toPrint" class="ng-scope"><!-- print plan goes here --></div> 
			  
			<div ng-controller="CarouselController" class="ng-scope"> 
				<header class="container">
					
					 <div class="row">
						<div class="col-md-12">
							<div class="intro">
								<h1>Great Value</h1>
								<p>The power is in your hand to control your wireless spending. Here's how to build your own:</p>
							</div>
						</div>
					   
					</div>
				</header>
				
				<div class="step" id="step1">
					<div class="container">
					
						<div class="intro">
							<h3>Step 1</h3>
							<p>Select the number of people on your plan</p>
							<p style="color:#cc0000">($6.98 per additional line)</p>
						</div>
						<div id="number_of_people">
							<div group-animator="" people="1" slider-action="updateData()" class="people_box selected ng-scope">1</div>
							<div group-animator="" people="2" slider-action="updateData()" class="people_box ng-scope">2</div>
							<div group-animator="" people="3" slider-action="updateData()" class="people_box ng-scope">3</div>
							<div group-animator="" people="4" slider-action="updateData()" class="people_box ng-scope">4</div>
							<div group-animator="" people="5" slider-action="updateData()" class="people_box ng-scope">5</div>
							<div style="clear: both"></div>
						</div>
						<div id="people" class="people1">people</div>
						<div style="clear: both"></div>
					</div>
				</div>
				
				<div class="step" id="step2">
					<div class="container wrapper">
						<div class="intro">
							<h3>Step 2</h3>
							<p>Use the phone to build your plan</p>
						</div>
						
						<div id="plan_box">
							<div id="plan_summary">
								<h5>Monthly Plan</h5>
								<h2 id="monthly_price" class="ng-binding">$6.98</h2>
							</div>
							<div id="plan_increments">
								<ul>
									<li id="talk_increment">
										<div class="icon">Talk</div>
										<div class="increment" style=""><span id="small_mins" class="ng-binding">20 Mins</span></div>
										</li>
									<li id="text_increment">
										<div class="icon">Text</div>
										<div class="increment"><span id="small_texts" class="ng-binding">20 Texts</span></div>
										</li>
									<li id="data_increment">
										<div class="icon">Data</div>
									  <div class="increment"><span id="small_data" class="ng-binding">0 MB Data</span></div>
									</li>
								</ul>
							</div>
							<div id="plan_info">
								<strong>Customize your talk, text and data to fit your lifestyle:</strong>
								<ul>
									<li>Adjust your plan as often as you would like</li>
									<li>Instantly share with your family — give them all or just a little — it's up to you</li>
									<li>Revolutionary parental control features</li>
									<li>Great coverage on the Nationwide Sprint Network and no contract</li>
								</ul>

								<strong>Tip! Grab your current bill to help estimate your plan.</strong>
							</div>
							<div id="print_plan">
								<a href="#">// Print This Plan</a>
								
							</div>
							
						</div>
					
					  <!-- ngRepeat: item in carousels --><div ng-repeat="item in carousels" class="ng-scope">
						<div id="talk" class="jcarousel-wrapper" key="0">
						  
						  <div slider-control="" direction="prev" slider-action="updateData()" class="jcarousel-control-prev inactive ng-scope">
							<a value=0 class="jcarousel-button-prev"><!--.--></a>
							<div class="pane" key="1" value="">
							  <div class="detailsWrapper">
								<div class="details">
								  <div id="m-minutes-prev" class="short-description ng-binding">Mins</div>
								  <div id="m-price-prev" class="price ng-binding">$</div>
								</div>
							  </div>
							</div>
						</div> 
						  
						  <div class="jcarousel" style="border:1px solid #000000;">
							<ul id="talk-list" data-current-value="" slider-action="updateData()" animate-on-load="0" class="sliderlist ng-scope" style="left: 0px;">
							  <!-- ngRepeat: increment in item.increments -->
							  <li ng-repeat="increment in item.increments" class="scroller-carousel-item ng-scope">
								<div class="pane" key="0" value="">
								  <div class="detailsWrapper">
									<div class="details">
									  <div data-value="" id="m-minutes-current" class="short-description ng-binding">Mins</div>
									  <div data-value="" id="m-price-current" class="price ng-binding">$</div>
									</div>
								  </div>
								</div>
							  </li>
							</ul>
						  </div>
						  
						  <div slider-control="" direction="next" slider-action="updateData()" class="jcarousel-control-next ng-scope">
							<a value=0 class="jcarousel-button-next"></a>
							<div class="pane" key="1" value="">
							  <div class="detailsWrapper">
								<div class="details">
								  <div id="m-minutes-next" class="short-description ng-binding">Mins</div>
								  <div id="m-price-next" class="price ng-binding">$</div>
								</div>
							  </div>
							</div>
						  </div>
						  
						</div>
					  </div><!-- end ngRepeat: item in carousels --><div ng-repeat="item in carousels" class="ng-scope">
						
						
						<div id="text" class="jcarousel-wrapper" key="1">
						  <div slider-control="" direction="prev" slider-action="updateData()" class="jcarousel-control-prev inactive ng-scope">
							<a value=1 class="jcarousel-button-prev"><!--.--></a>
							<div class="pane" key="1" value="">
							  <div class="detailsWrapper">
								<div class="details">
								  <div id="t-texts-prev" class="short-description ng-binding">Texts</div>
								  <div id="t-price-prev" class="price ng-binding">$</div>
								</div>
							  </div>
							</div>
						</div> 
						  <div class="jcarousel" style="border:1px solid #000000;">
							<ul id="text-list" data-current-value="" slider-action="updateData()" animate-on-load="0" class="sliderlist ng-scope" style="left: 0px;">
							  <!-- ngRepeat: increment in item.increments --><li ng-repeat="increment in item.increments" class="scroller-carousel-item ng-scope">
								<div class="pane" key="0" value="">
								  <div class="detailsWrapper">
									<div class="details">
									  <div data-value="" id="t-texts-current" class="short-description ng-binding">Texts</div>
									  <div data-value="" id="t-price-current" class="price ng-binding">$</div>
									</div>
								  </div>
								</div>
							  </li>  
							</ul>
						  </div>
						  <div slider-control="" direction="next" slider-action="updateData()" class="jcarousel-control-next ng-scope"><a value=1 class="jcarousel-button-next"><!--.--></a>
							<div class="pane" key="1" value="">
							  <div class="detailsWrapper">
								<div class="details">
								  <div id="t-texts-next" class="short-description ng-binding">Texts</div>
								  <div id="t-price-next" class="price ng-binding">$</div>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </div><!-- end ngRepeat: item in carousels -->
					  
					  
					  
					  <div ng-repeat="item in carousels" class="ng-scope">
						<div id="data" class="jcarousel-wrapper" key="2">
						  <div slider-control="" direction="prev" slider-action="updateData()" class="jcarousel-control-prev inactive ng-scope">
							<a value=2 class="jcarousel-button-prev"><!--.--></a>
							<div class="pane" key="1" value="">
							  <div class="detailsWrapper">
								<div class="details">
								  <div id="d-data-prev" class="short-description ng-binding">MB</div>
								  <div id="d-price-prev" class="price ng-binding">$</div>
								</div>
							  </div>
							</div>
						</div> 
						
						
						  <div class="jcarousel" style="border:1px solid #000000;">
							<ul id="data-list" data-current-value="" slider-action="updateData()" animate-on-load="0" class="sliderlist ng-scope" style="left: 0px;">
							  <!-- ngRepeat: increment in item.increments -->
							  <li ng-repeat="increment in item.increments" class="scroller-carousel-item ng-scope">
								<div class="pane" key="0" value="">
								  <div class="detailsWrapper">
									<div class="details">
									  <div data-value="" id="d-data-current" class="short-description ng-binding">MB</div>
									  <div data-value="" id="d-price-current" class="price ng-binding">$</div>
									</div>
								  </div>
								</div>
							  </li>    
							</ul>
						  </div>
						  
						  
						  <div slider-control="" direction="next" slider-action="updateData()" class="jcarousel-control-next ng-scope"><a value=2 class="jcarousel-button-next"><!--.--></a>
								<div class="pane" key="1" value="">
								  <div class="detailsWrapper">
									<div class="details">
									  <div id="d-data-next" class="short-description ng-binding">MB</div>
									  <div id="d-price-next" class="price ng-binding">$</div>
									</div>
								  </div>
								</div>
							  </div>
						</div>
					  </div><!-- end ngRepeat: item in carousels -->
						<div id="disclaimer"><p class="small">Some offer information and/or screens shown are for illustration purposes only.</p></div>
					 </div>
				</div>

			</div>

		</div>		
	</body>
</html>