div#pageContext div.container.main.sitemap section.container{
    padding: 20px;
    
}



div#pageContext div.container.main.sitemap section.container div h2{
    margin: 0;
    padding: 0;
}

div#pageContext div.container.main.sitemap section.container div ul{
    margin: 1em 0;
    padding: 0 0 0 40px;
    color: #000;
    list-style: disc outside none;
}

div#pageContext div.container.main.sitemap section.container div ul li a:link,
div#pageContext div.container.main.sitemap section.container div ul li a:visited,
div#container p a:link,
div#container p a:visited,
div#container ul#compare li a:link,
div#container ul#compare li a:visited{
    text-decoration: none;
    font-family: verdana;
    font-size: 11px;
    color: #f7901e;
}


div#pageContext div.container.main.sitemap section.container div h2 a:link,
div#pageContext div.container.main.sitemap section.container div h2 a:visited,
div#pageContext div.container.main.sitemap section.container div h2 a:hover{
    color:#000;
    font-size: 24px;
}

#compare-header h2 a{
    color:#000;
    font-size:24px;
    letter-spacing:-.5px;
    font-family: BoostNeoBold,Arial,Helvetica,sans-serif;
    font-weight: 400;
    padding: 0;
}

ul#compare{
    display:none;
    list-style: disc outside none;
}

ul#compare li{
    float: left;
    width: 32%;
    margin-right: 1%;
}


#container{
    margin: 0 auto!important;
    width: 920px!important;
    padding:20px;
    background:#FFF;
    overflow:hidden;
}