@font-face{
    font-family:BoostNeoBlack;
    src:url(../fonts/v2/BoostNeo-Black.eot);
    src:url(../fonts/v2/BoostNeo-Black.eot?#iefix) format("embedded-opentype"),
        url(../fonts/v2/BoostNeo-Black.woff) format("woff"),
        url(../fonts/v2/BoostNeo-Black.woff) format("woff"),
        url(../fonts/v2/BoostNeo-Black.ttf) format("truetype"),
        url(../fonts/v2/BoostNeo-Black.svg#boost_neoblack) format("svg");
    font-weight:400;
    font-style:normal
}

@font-face{
    font-family:BoostNeoBold;
    src:url(../fonts/v2/BoostNeo-Bold.eot);
    src:url(../fonts/v2/BoostNeo-Bold.eot?#iefix) format("embedded-opentype"),
        url(../fonts/v2/BoostNeo-Bold.woff) format("woff"),
        url(../fonts/v2/BoostNeo-Bold.woff) format("woff"),
        url(../fonts/v2/BoostNeo-Bold.ttf) format("truetype"),
        url(../fonts/v2/BoostNeo-Bold.svg#boost_neobold) format("svg");
    font-weight:400;
    font-style:normal
}


@media (max-width:768px){
    section.promo-dataPlans div#plans-hub-container{
        width: 100%!important;
        padding: 10px!important;
        min-height: auto!important;
        height: auto!important;
    }
    
    img#img-plans-hub-title{
        padding: 10px 30px;
    }
    
    div.plans-now-include{
        text-align: center;
    }
    
    div.plans-learn-more{
        text-align: center;
    }
    
    ul.ul-plans-include{
        font-size: 12px;
    }
    
    ul.ul-plans-include li{
        margin:5px;
    }
    
    section.promo-wifi-intl div.promo12{
        background: url(../img/store/promo-hotspot-mobil.png) top left no-repeat;
        background-size: cover;
    }
}

@media (min-width: 300px) and (max-width: 400px){
	section.promo-wifi-intl div.promo12{background-image: url(../img/promo-half-12.jpg) !important;background-position: center left !important;}
	section.promo-wifi-intl div.promo13{background-image: url(../img/promo-half-13.jpg) !important;background-position: center left !important;}
}
@media (min-width: 768px) and (max-width:991px){
	.plans-home section.promo-wifi-intl div.promo13 ul.promo13_ul{
		list-style: disc !important;
		padding: 0 20px 0 60px !important;
	}
    
    
    
    
    
}
@media (max-width: 767px){
	.promo13_ul{text-align: center !important;}
    

}
@media (max-width: 992px){
	.plans-home section.promo-dataPlans,.plans-home section.promo-wifi-intl{margin: 0px !important;width:100% !important;}
	.plans-home section.promo-dataPlans div#plans-hub-top{width: 100% !important;height: auto !important;}
	.plans-home section.promo-dataPlans div#plans-hub-top img{display: block;position: inherit !important;margin: 0 auto !important;}
	.plans-home section.promo-dataPlans div#plans-hub-top h1{font-size: 30px; text-align: center;margin: 0 0 10px 0;}
	.plans-home section.promo-dataPlans div#plans-hub-top h2{width: auto !important;font-size: 24px; text-align: center;}
	.plans-home section.promo-dataPlans div#plans-hub-top p{text-align: center;}
	.plans-home section.promo-wifi-intl div.promo12,.plans-home section.promo-wifi-intl div.promo13{margin: 0 !important;}
	section.promo-wifi-intl div.boldTitle{font-size: 30px !important;text-align: center !important;}
	section.promo-wifi-intl h2,section.promo-wifi-intl h3{width: auto !important;text-align: center !important;}
	section.promo-wifi-intl div.promo13 > ul{padding-left: 0 !important;list-style-type: none !important;}
	section.promo-wifi-intl div.promo13 > p{text-align: center;}
	section.promo-wifi-intl div.promo12{background-image: url(../img/promo-half-12_mobile.jpg);background-position: center right;}
	section.promo-wifi-intl div.promo13{background-image: url(../img/promo-half-13_mobile.jpg);background-position: center right;}
}
@media (min-width: 768px) and (max-width: 1024px){
	.plans-home section.promo-dataPlans, .plans-home section.promo-wifi-intl, .plans-home section.promo-dataPack{margin-left: 0 !important;}
	section.promo-wifi-intl div.promo12{background-image: url(../img/promo-half-12.jpg) !important;background-position: center center !important;}
}
@media (max-width: 1024px){
	.plans-home section.promo-dataPlans, .plans-home section.promo-dataPack, .plans-home section.promo-wifi-intl{width: 100% !important;}
	.plans-home section.promo-wifi-intl div.promo13 a{top: auto !important;}
	.plans-home section.promo-wifi-intl div.promo12 h2{margin-top: 0 !important;}
	}
}

span.bn-bk{
    font-family: BoostNeoBold,Arial,Helvetica,sans-serif;
}

div.col-xs-12 section.promo-dataPlans div#plans-hub-top h1.bn-bk{
    color: #000;
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 15px;
    float: none;
	font-weight: 400 !important;
}


div.col-xs-12 section.promo-dataPlans div#plans-hub-top h2{
    color: #FFF;
    font-size: 32px;
    /*line-height: 60px;*/
    margin:0 0 15px 0!important;
    float: none;
    font-weight: 400;
}

div.col-xs-12 section.promo-dataPlans div#plans-hub-top h3.lnkDaily{
    margin:30px 0 0 0;
}

div.col-xs-12 section.promo-dataPlans div#plans-hub-top p {
    margin: 0px 10px;
    padding: 10px 0px 10px 0px;
}


section.plans-home a.btn-boost{
	color: #fff;
}
section.promo-wifi-intl div.boldTitle{
    font-family: BoostNeoBlack,Arial,Helvetica,sans-serif; !important;
	 font-size: 40px;
    color: #000;
    float: none;
    line-height: 45px;
	letter-spacing: -0.5px;
}

section.promo-wifi-intl div.col-xs-12.col-sm-6.promo12{
    padding: 25px!important;
}

.plans-home section.promo-wifi-intl div.promo12 div{
    padding: 0!important;
    margin:7px 0 0 0;
}

.plans-home section.promo-wifi-intl div.promo12 h2,
.plans-home section.promo-wifi-intl div.promo13 h2{
    color: #000;
    font-size: 29px;
    margin:0!important;
    padding:0!important;
    font-weight: 400;
    width:auto;
}

.plans-home section.promo-wifi-intl div.promo13 h2{
    padding: 0 20px!important;
}

.plans-home section.promo-wifi-intl div.promo13 h3{
    padding:0 20px;
    margin:7px 0 0 0;
    font-size: 18px!important;
}

.plans-home section.promo-wifi-intl div.promo13 ul.promo13_ul{
    list-style: disc !important;
    padding: 0 20px 0 60px;
}

.plans-home section.promo-wifi-intl div.promo13 ul.promo13_ul li{
    padding: 0!important;
    margin:10px 0 0 0;
}
.plans-home section.promo-wifi-intl div.promo13 p{
    font-size: 12px;
    padding: 0 20px!important;
    margin: 10px 0;
    font-family: verdana;
}

.plans-home section.promo-wifi-intl div.promo13 ul.promo13_ul li span.listaBold{
    font-family: BoostNeoBlack,Arial,Helvetica,sans-serif!important;
    color:#222;
    padding: 0!important;
    font-size:18px;
}


.plans-home section.promo-wifi-intl div.promo12 h3 {
    color:#222;
    font-size: 18px;
    margin: 10px 0 0 0;
    padding: 0!important;
    width:auto;
}

section.promo-wifi-intl  div.promo13 div.boldTitle{	
    font-family: BoostNeoBlack,Helvetica,Arial,sans-serif !important;
    font-size: 40px;
    color: #000;
    float: none;
    line-height: 45px;
    margin:0;
    padding:25px!important;
	
}

section.promo-wifi-intl  div.promo13 ul li h3.listaBold {
    font-size: 18px;
    margin-top: 10px;
    font-family: BoostNeoBlack,Arial,Helvetica,sans-serif;
}

section.promo-wifi-intl div.promo12 a.btn-boost {
    position: absolute;
    bottom: 25px;
    right: 35px;
}

section.promo-wifi-intl div.promo13 a.btn-boost {
    position: absolute;
    bottom: 25px;
    left: 0px;
}


		
		
	/*  Begin of Code for certifiedpreowned   */	
	
div#certifiedpreowned div#cpo-top-box{
padding-left: 500px;
padding-top: 60px;
padding-right: 30px;
}	

div#certifiedpreowned div#cpo-top-box h1 {
color: #000;
margin-bottom: 10px;
float: none;
font-size: 25px;
line-height: 1.5em;
letter-spacing: -0.5px;
clear: left;
margin-top: 7px;
margin: 0px;
padding: 0px;
font-weight: 400;
}	
	
div#certifiedpreowned div#cpo-top-box h1 span.bn-bk {

font-family: BoostNeoBlack,Arial,Helvetica,sans-serif !important;
}	

div#certifiedpreowned div#cpo-top-box p {
color: #000;
font-size: 13px;
}	

div#certifiedpreowned div#cpo-top-box p a.btn:hover, a.btn:link:hover, a.btn:visited:hover{
background-color: #6FDBDB;
}		

div#certifiedpreowned div#cpo-top-box p a.btn, a.btn:link, a.btn:visited{
display: inline-block;
color: #FFF;
background-color: #000;
padding: 7px 17px;
min-width: 90px;
text-decoration: none;
font-size: 17px;
font-weight:lighter;
letter-spacing: 0px;
font-family: BoostNeoBold,Arial,Helvetica,sans-serif !important;
text-align: center;
}	

div#android-phones-genie div#phone_slider-view_all h2.genieBlackFont {
    padding-bottom: 10px!important;
	padding-left: 40px!important;
	color: #000;
	float: none;
	font-size: 25px;
	line-height: 1.5em;
	letter-spacing: -0.5px;
	clear: left;
	margin-top: 7px;
	margin: 0px;
	padding: 0px 1px, 2px, 3px;
	font-weight: 400;
}

div#android-phones-genie div#cpo-bottom p.align_banner_text{
	font-size: 13px;
	font-family: verdana;
	color: #222;
	line-height: 1.231;	
	direction:initial;
	margin: 0px 35px 0px 0px;
	padding: 0px 10px 0px 10px;
}

a.bn-bk:link, a.bn-bk:visited, a.bn-bk:hover{
	color:#FFF;
} 

h3.bn-bk{
	color:#222;
}

	/*  End of Code for certifiedpreowned   */


div#plans-hub-top.gradient-orange h1.bn-bk{
    color:#000;
    font-family: BoostNeoBlack,Arial,Helvetica,sans-serif!important;
    font-size: 55px;
    margin:7px 0 15px 0;
}

div#plans-hub-top p.getup3gb{
    font-family: verdana;
    font-size: 11px;
    margin:0 10px!important;
    padding:0!important;
    color:#222;
}


section.promo-dataPack.hidden-xs h3{
    font-size: 18px;
    font-weight: 400;
    color: #222;
}

 

div#plans-hub-top.gradient-orange h3.bn-bk span.bn-bk{
    font-family: BoostNeoBlack,Arial,Helvetica,sans-serif!important;
    font-size: 18px;  
}

.plans-home section.promo-dataPack div.title-promo-dataPack{
    color: #000;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    font-family: BoostNeoBlack,Arial,Helvetica,sans-serif;
    font-weight: normal;
    letter-spacing: -0.5px;
    height: 50px;
}

section.promo-dataPlans div#plans-hub-container{
    background: url(../img/plans/plans-hub-container-bg.png) bottom left no-repeat;
    padding: 0 10px;
}

section.promo-dataPlans div#plans-hub{
    height:405px;
    background: url(../img/plans/plans-hub-bg.png) top left no-repeat;
    padding: 0;
    background-size:cover;
}

section.promo-dataPlans div#plans-hub-title{
    background: url(../img/plans/monthly-phone-plans.png) top left no-repeat;
    height:38px;
    width:357px;
    padding: 0;
    margin:21px auto;
}

span.plans-now-include{
    font-family: BoostNeoRegular,Arial,Helvetica,sans-serif!important;
    font-size: 20px;
    color: #ffffff;
    background: grey;
    padding:9px 16px;
}


.plans-home section.promo-dataPlans {
    width:auto;
    padding: 0;
    margin: 0;
}
div.plans-now-include,
div.plans-learn-more{
    height: auto!important;
    background:none!important;
    
}

div.plans-learn-more{
    padding: 18px 0 0 0!important;
    text-align: center;
}

div.plans-now-include{
    padding: 24px 0 0 16px!important;
}


div#plans-hub-responsive,
div#monthly-plans-responsive,
div#plans-included-responsive{
    height: auto!important;
    background: none!important;
    width: auto!important;
    padding:10px;
    margin:0;
    width: 100%;
}

div.promo-monthly-plans img{
    width: 100%;
    max-width: 100%;
}
div#monthly-plans-responsive img{
    width: 250px!important;
    margin:0 auto!important;
}

div#plans-hub-container img{
    max-width: 100%;
}

section.promo-dataPlans div#plans-hub-container{
        background: url(../img/plans/plans-hub-container-bg.png) bottom left no-repeat;
        padding: 25px;
        margin: 0 0 20px 0;
        min-height: 673px;
        width: 960px;
    }