
/*  Prevents the phone number prefix from looking wonky.  */

.rate_calc_form .phone_number_fields #phone_prefix {
	overflow: hidden;
	background: #000;
	color: #000;
	width: 65px;
	height: 28px;
	float: left;
	margin: 5px 14px 0 0;
}
.rate_calc_form #phone_prefix select {
	background: transparent;
	width: 65px;
	height: 26px;
	padding: 5px 0 0 4px;
	margin: 2px 0 0 0;
	font: 16px/18px BoostNeoGroteskRegular, Arial, Helvetica, sans-serif;
}



.rate_calc_form .error_message {
	margin: 15px 0 0 -8px;
}

.rate_calculator { padding-bottom: 12px; }

.rate_calculator .instructions {
    border-right: 1px solid #9E9E9E;
    float: left;
    height: 166px;
    margin: 13px 18px 15px 14px;
    padding: 36px 38px 0 10px;
    width: 280px;
}
