  <div class="col-xs-12 accessories hidden-xs hidden-sm">
    <div class="dropdown pull-left">
      <select class="btn btn-default btn-block sortby ng-pristine ng-valid ng-touched" ng-model="phoneController.details.data.accessories.type">
        <option value="">All Accessories</option>
        <option value="battery">Batteries</option>
        <option value="charger">Chargers</option>
        <option value="headset">Headsets</option>
        <option value="holster">Holsters</option>
        <option value="memory">Memory</option>
        <option value="protector">Protectors</option>
      </select>
    </div>
    <p class="results pull-right" id="results"><span ng-if="phoneController.details.data.accessories.accessory.length!=0"><span>{{(phoneController.details.data.accessories.accessory | filter:{type:phoneController.details.data.accessories.type}).length}}</span> of </span><a href="{{pathMap._location.hash}}" ng-click="phoneController.details.data.accessories.type = ''">{{phoneController.details.data.accessories.accessory.length}} available accessories</a> match your search</p>
  </div>
