<div >
  <section class="in_store_offers">
			<h1 class="title">In Store Offers</h1>
			<div class="col-xs-12 col-sm-4 offers">
				<span>
					<div class="offer_header">
						<img src="bst/img/instore.jpg" alt="New Customers"></img>
					</div>
				
				</span>
			</div>
		</section>
    <h1 class="title">Additional Phone Offers</h1>
    <section class="in_store_offers">
     <div class="row"> 
      <div class="col-md-3">
       <img class="phoneInfoGraphic" src="bst/img/offer-1.png" alt="Moto E"> 
       <h4 class="alcatel">ALCATEL<br>ONETOUCH Elevate</h4>
         <div > 
          <div class="msg"> <span class="strike">
            <sup>$</sup>99.99</span> Online <br> <sup>$</sup>19.99 In store OR 
          </div> <div class="msg"><strong>FREE</strong> when you switch to Boost Mobile in store</div> 
         </div> 
      </div> 
    <div class="col-md-3" > 
      <img class="phoneInfoGraphic" src="bst/img/offer-2.png" alt="Kyocera Hydro ICON"> 
      <h3 class="bn-b">LG<br>Tribute</h3> 
      <div > 
        <div class="msg"> <span class="strike"><sup>$</sup>79.99</span> Online <br> <sup>$</sup>29.99 In store OR </div> 
          <div class="msg"><strong>FREE</strong> when you switch to Boost Mobile in store
        </div> 
    </div> 
    </div> 
    <div class="col-md-3"> <img class="phoneInfoGraphic" src="bst/img/offer-3.png" alt="LG Tribute 2™"> 
    <h3 class="bn-b">LG<br>Tribute 2™</h3>
    <div > 
    <div class="msg"> 
    <span class="strike"><sup>$</sup>99.99</span> Online <br> 
    <sup>$</sup>29.99 In store OR 
    </div> 
    <div class=" msg">
    <strong>FREE</strong> when you switch to Boost Mobile in store
    </div> 
    </div> 
    </div> 
    <div class="col-md-3" > <img class="phoneInfoGraphic" src="bst/img/offer-4.png" alt="HTC<br>Desire 510"> 
    <h3>Nokia<br>Lumia 635</h3> 
    <div> 
    <div class="msg"> <span class="strike"><sup>$</sup>99.99</span> Online <br> <sup>$</sup>29.99 In store OR 
    </div> 
    <div class=" msg"><strong>FREE</strong> when you switch to Boost Mobile in store
    </div> 
    </div> 
    </div> 
    </div>
    <div class="row" >
    <div class="col-md-3" > 
    <img class="phoneInfoGraphic" src="bst/img/offer-5.png" alt=""> 
    <h3 class="bn-b">Moto<br>E</h3> 
    <div> 
    <div class="msg"> <span class="strike"><sup>$</sup>99.99</span> Online <br> <sup>$</sup>29.99 In store OR 
    </div> 
    <div class=" msg"><strong>FREE</strong> when you switch to Boost Mobile in store
    </div> 
    </div> 
    </div> 
    <div class="col-md-3" > 
    <img class="phoneInfoGraphic" src="bst/img/offer-6.png" alt="HTC<br>Desire 510"> 
    <h3 class="bn-b">ZTE<br>Speed</h3> 
    <div> 
    <div class="msg"> <span class="strike"><sup>$</sup>99.99</span> Online <br> <sup>$</sup>29.99 In store OR 
    </div> 
    <div class=" msg"><strong>FREE</strong> when you switch to Boost Mobile in store
    </div>
    </div> 
    </div> 
    <div class="col-md-3"><img class="phoneInfoGraphic" src="bst/img/offer-7.png" alt="Moto E"> <h3 class="bn-b">ALCATEL<br>ONETOUCH Conquest</h3> 
    <div> 
    <div class="msg"> <span class="strike"><sup>$</sup>129.99</span> Online <br> <sup>$</sup>49.99 In store OR 
    </div>
    <div class=" msg"><strong>FREE</strong> when you switch to Boost Mobile in store
    </div> 
    </div> 
    </div> 
    <div class="col-md-3" ><img class="phoneInfoGraphic" src="bst/img/offer-8.png" alt="Moto E"> 
    <h3 class="bn-b">HTC<br>Desire 510</h3> 
    <div> 
    <div class="msg"> <span class="strike"><sup>$</sup>99.99</span> Online <br> <sup>$</sup>49.99 In store OR
    </div> 
    <div class=" msg"><strong>FREE</strong> when you switch to Boost Mobile in store
    </div> 
    </div> 
    </div> 
    </div>
    <div class=" row" >
    <div class="col-md-3"> <img class="phoneInfoGraphic" src="bst/img/offer-9.png" alt="Kyocera Hydro ICON"> 
    <h3 class="bn-b">LG<br>Volt 2</h3> 
    <div > 
    <div class="msg"> 
    <span class="strike"><sup>$</sup>149.99</span> Online <br> <sup>$</sup>99.99 In store OR 
    </div> 
    <div class=" msg"><strong><sup>$</sup>29.99</strong> when you switch to Boost Mobile in store
    </div> 
    </div> 
    </div> 
    <div class="col-md-3"> <img class="phoneInfoGraphic" src="bst/img/offer-10.png" alt="Kyocera Hydro ICON"> 
    <h3 class="bn-b">ZTE<br>Warp Elite</h3> 
    <div > 
    <div class="msg"> <span class="strike"><sup>$</sup>179.99</span> Online <br> <sup>$</sup>79.99 In store OR 
    </div>
    <div class=" msg"><strong><sup>$</sup>29.99</strong> when you switch to Boost Mobile in store
    </div> 
    </div> 
    </div> 
    <div class="col-md-3" > <img class="phoneInfoGraphic" src="bst/img/offer-11.png" alt="Kyocera Hydro ICON"> 
    <h3 class="bn-b">ZTE<br>Warp Sync</h3>
    <div >
    <div class="msg"> <span class="strike"><sup>$</sup>129.99</span> Online <br> <sup>$</sup>79.99 In store OR 
    </div> 
    <div class=" msg"><strong><sup>$</sup>29.99</strong> when you switch to Boost Mobile in store
    </div> 
    </div>
    </div>
    <div class="col-md-3" > <img class="phoneInfoGraphic" src="bst/img/offer-13.png" alt="Kyocera Hydro ICON"> 
    <h3 class="bn-b">LG<br>Stylo</h3> 
    <div >
    <div class="msg"> <span class="strike"><sup>$</sup>129.99</span> Online <br> <sup>$</sup>99.99 In store OR 
    </div> 
    <div class=" msg"><strong><sup>$</sup>49.99</strong> when you switch to Boost Mobile in store
    </div>
    </div> 
    </div> 
    </div>
    <div class="row" >
    <div class="col-md-3"> <img class="phoneInfoGraphic" src="bst/img/offer-14.png" alt="Kyocera Hydro ICON"> 
    <h3 class="bn-b">Samsung<br>Galaxy Prevail LTE</h3> 
    <div > <div class="msg"> 
    <span class="strike"><sup>$</sup>129.99</span> Online <br> <sup>$</sup>129.99 In store OR 
    </div> 
    <div class="msg"><strong><sup>$</sup>79.99</strong> when you switch to Boost Mobile in store</div> </div> </div> <div style="clear:both;">
    </div> 
    </div>
    </section>
</div>