<div ng-if="app.isCurrentContext(pathMap._shop._formatedHash)">
    <section class="banner-static promo-full">
			<div class="col-xs-12 hidden-xs promo01">
        <p class="promoHero">&nbsp;This <strong style="color:#ff8000;font-weight:700;">tax season</strong> a little refund goes a long way. </p>
        <p>Phones on sale, save up to </p>
        <a class="btn-primary" href="#!/shop/phones/?icamp=INTC_HP_Row1_Main_SalePhones">Save Now</a>
      </div>
		</section>
    <section class="banner-static hidden-md hidden-lg visible-xs" style="border-bottom:2px solid black;">
			<a href="#!/shop/phones/?icamp=INTC_HP_Row1_Main_SalePhones"><img src="bst/img/bannerShopTaxSeason_mobile.jpg"></a>
	  </section>
    <section class="promo-half white">
			<div class="col-xs-12 col-sm-6 col-md-6 " style="max-width:480px; height:480px; background-color:white;">
				<a class="promo08" href="{{pathMap._phones._hash}}" style="height:460px;">
					<h2>Smartphones.<br>Smarter Prices.</h2>
					<h4>The latest phones at an affordable price.</h4>
					<span class="promoLink">Learn More</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 " style="max-width:480px; height:480px; background-color:white;">
				<a class="promo09" href="#!/shop/hotspots/r850-mobile-hotspot/features/" style="height:460px;">
					<h2>Wi-Fi<br>Hotspots.</h2>
					<h4>At home, on the go, take 4G LTE<br> data with you.</h4>
					<span class="promoLink">Shop Now</span>
				</a>
			</div>
		</section>
    <!--
  <section class="promo-half">
    <div class="col-xs-6">
      <banner-item url="get_banner_shop" index="0" class="promo04" options="url,bg_image,title,description,link_text"></banner-item>
    </div>
    <div class="col-xs-6">
      <banner-item url="get_banner_shop" index="1" class="promo05" options="url,bg_image,title,description,link_text"></banner-item>
    </div>
  </section> -->
  	<section class="banner white promo07">
			<a href="#!/shop/plans/international-minute-packs/" style="margin-top: 0px;">
				<h2>International Minute Packs</h2>
				<p>Get a bundle of minutes &amp; unlimited international text messaging. No access number. No PIN required. No connection fee.</p>
				<span class="promoLink">Learn More</span>
			</a>
		</section>
    <section class="threeblocks white" style="margin-top:0px;">
			<div class="col-sm-4">
				<a href="{{linkMap.setting.maps.shop.market}}">
					<h3>Boost Market</h3>
					<p>Get apps, games, real-music ringtones and more to make your phone even better.</p>
					<span>Shop</span>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="#!/whychoose#value/">
					<h3>Why Choose Boost?</h3>
					<p>Sure, a lot of our competitors also offer unlimited plans. But no one gives you this much for this little.</p>
					<span>Learn More</span>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="{{pathMap._phoneAccessories._hash}}">
					<h3>Accessories</h3>
					<p>Get the best accessories - from chargers to memory cards to Bluetooth® headsets.</p>
					<span>Shop</span>
				</a>
			</div>
		</section>
    <!--
  <section class="banner">
    <banner-item url="get_banner_shop" class="promo10" index="2" options="hide_image_in_small,url,bg_image,title,description,link_text"></banner-item>
    <banner-item url="get_banner_shop" class="promo11" index="3" options="hide_image_in_small,url,bg_image,title,description,link_text"></banner-item>
  </section> -->
</div>