<div>
  <section class="promo-half">
    <div class="col-xs-6">
      <banner-item url="get_banner_shop" index="0" class="promo04" options="url,bg_image,title,description,link_text"></banner-item>
    </div>
    <div class="col-xs-6">
      <banner-item url="get_banner_shop" index="1" class="promo05" options="url,bg_image,title,description,link_text"></banner-item>
    </div>
  </section>
  <section class="banner">
    <banner-item url="get_banner_shop" class="promo10" index="2" options="hide_image_in_small,url,bg_image,title,description,link_text"></banner-item>
    <banner-item url="get_banner_shop" class="promo11" index="3" options="hide_image_in_small,url,bg_image,title,description,link_text"></banner-item>
  </section>
</div>